.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313131;
    box-shadow: 
    0 0 2px rgb(240, 243, 255), 
    0 0 4px rgb(204, 212, 255), 
    0 0 6px rgb(179, 255, 255), 
    0 0 8px rgb(143, 145, 255), 
    0 0 10px rgb(117, 165, 255), 
    0 0 12px rgb(108, 126, 185);
}


.opcion {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: left;
}

.to{
    color: #ffffff;
    text-decoration: none;
    border: #e6ccbe solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow:  
    0 0 3px rgb(243, 240, 255),
    0 0 6px rgb(212, 204, 255),
    0 0 9px rgb(187, 179, 255),
    0 0 12px rgb(160, 143, 255),
    0 0 15px rgb(142, 117, 255),
    0 0 18px rgb(72, 84, 248);
}

.to:hover {
    background-color: #4387df;
}

.to:active {
    background-color: rgb(110, 131, 189);
    box-shadow: 0 2px #082062;
    transform: translateY(2px);
}

.search{
    padding: 0;
    margin: 0 16px;
}

.gif {
    display: table-cell;
    padding-top: 0.5vw;
    width:19vw;
    margin: -34px;
    height: auto;
}

.imagencita {
    justify-content: center;
    position: relative;
    margin: 0 40px 0 0;
    height: auto;
    width: auto;
}

.busqueda {
    padding: 0;
    
}

.btn {
    text-align: center;
    padding: 57px 0px;
    text-decoration: none;
    float: right;
    color: #ffffff;
    text-decoration: none;
    border: #FFCDB2 solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-size: 21px;
    font-family: monospace;
    box-shadow: 0 0 3px rgb(255 240 243), 0 0 6px rgb(255 204 213), 0 0 9px rgb(255 179 193), 0 0 12px rgb(255 143 163), 0 0 15px rgb(255 117 143), 0 0 18px rgb(255 77 109);
    background: bottom;
    margin: 50px 10px 0px;
    cursor: pointer;
}

.btn:hover {
    background-color: #111111;
    box-shadow:  
    0 0 3px rgb(243, 240, 255),
    0 0 6px rgb(212, 204, 255),
    0 0 9px rgb(187, 179, 255),
    0 0 12px rgb(160, 143, 255),
    0 0 15px rgb(142, 117, 255),
    0 0 18px rgb(72, 84, 248);
}

.btn:active {
    background-color: rgb(166, 168, 189);
    box-shadow: 0 2px #1c32b1;
    transform: translateY(2px);
}
